{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Port=5432;Database=demodot;User Id=demo;Password=postgres;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
